
.logo {
    font-family: var(--chakra-fonts-code);
    font-weight: 500;
    font-size: 1.2rem;
}

a{
    font-weight: bold;
    cursor: pointer;
}

/* SCROLLBAR */

::-webkit-scrollbar-thumb:vertical {
    background: rgb(202, 202, 202);
    border-radius: 20px;
    height: 10%;
}

::-webkit-scrollbar {
    height: 5px;
    width: 3px;
}