@import "fonts.css";


.logo {
    font-family: var(--chakra-fonts-code);
    font-weight: 500;
    font-size: 1.2rem;
}

body{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

h1{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 2.3rem;
    color: "#3A496F";
}

h2{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 4rem;
}

a{
    font-weight: bold;
    cursor: pointer;
}

h3{
    font-size: .8rem;
    text-transform: uppercase;
    font-family: "Source Code Pro", monospace;
}



/* SCROLLBAR */

::-webkit-scrollbar-thumb:vertical {
    background: rgb(202, 202, 202);
    border-radius: 20px;
    height: 10%;
}

::-webkit-scrollbar {
    height: 5px;
    width: 3px;
}